Source: libvirt-udev-dlitz
Section: admin
Priority: optional
Maintainer: Darsey Litzenberger <dlitz@dlitz.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.0
Homepage: https://github.com/dlitz/libvirt-udev-dlitz
Vcs-Browser: https://github.com/dlitz/libvirt-udev-dlitz
Vcs-Git: https://github.com/dlitz/libvirt-udev-dlitz.git

Package: libvirt-udev-dlitz
Architecture: all
Depends:
 python3 (>= 3.9),
 ${misc:Depends},
Description: udev rules for attaching hotplugged devices to a libvirt VM
 This package provides udev rules for automatically attachking hotplugged
 devices (e.g. USB) to a libvirt virtual machine.
